Repository 273Do/my-nextjs-template: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, fix

lefthook.yml:

output:
  - execution
  - execution_out
  - execution_info
  - summary

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,tsx,js,jsx,json,css}"
      run: prettier --write {staged_files}
      stage_fixed: true

    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: eslint {staged_files}

    fix:
      glob: "*.{ts,tsx,js,jsx}"
      run: eslint --fix {staged_files}
      stage_fixed: true

pre-push:
  commands:
    format-check:
      run: prettier --check .

    lint-check:
      run: npm run lint

    type-check:
      run: tsc --noEmit

commit-msg:
  commands:
    message-check:
      run: |
        if ! grep -qE "^(feat|fix|refactor|chore):" {1}; then
          echo "ðŸ”¥ Commit message must start with: feat|fix|refactor|chore"
          exit 1
        fi

chore: formatのscriptを追加
  package.json
Due: format

chore: lefthookの設定を更新
  docker-compose.yml
  lefthook.yml
Due: none

chore: css型定義ファイルを追加
  app/layout.tsx
  global.d.ts
  tsconfig.json
Due: format, lint, fix

chore: lefthookの設定を更新
  lefthook.yml
Due: none

chore: lefthookの設定を更新
  lefthook.yml
  package.json
Due: format

chore: vitestを導入
  app/page.stories.tsx
  app/page.test.tsx
  package.json
  pnpm-lock.yaml
  vitest.config.mts
Due: format, lint, fix

feat: readmeを更新
  README.md
Due: none

chore: storybookを追加
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  Dockerfile
  app/page.stories.tsx
  docker-compose.yml
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  vitest.config.mts
  vitest.shims.d.ts
Due: format, lint, fix

feat: eslintの不要な宣言を削除
  eslint.config.mjs
Due: none

chore: テストの設定を変更
  vitest.config.mts
Due: none

chore: storybook testを削除
  package.json
  pnpm-lock.yaml
  vitest.config.mts
Due: format

chore: ホストと同様のgithubアカウントでssh接続できるようを変更
  Dockerfile
  docker-compose.yml
Due: none

chore: prettierignoreに設定を追加
  .prettierignore
Due: none

chore: ciを追加
  .github/workflows/ci.yml
  .storybook/tsconfig.json
Due: format

chore: .prettierrcを追加
  .prettierrc
  .prettierrc.json
Due: format
